.edd_download_inner input[type="radio"]:checked {
	border: 6px solid #e30613;
}

.edd_downloads_list #edd_download_pagination .page-numbers.current, .edd_downloads_list #edd_download_pagination .page-numbers:hover{
	color:#e30613;border:#e30613 1px solid;
}

a, a:hover,.navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>.active>a:hover,.navbar-default .navbar-nav>.active>a:focus,.dropdown-menu>li>a:focus,.dropdown-menu>li>a:hover,.dropdown-menu>.active>a,.dropdown-menu>.active>a:focus,.dropdown-menu>.active>a:hover,.wowitemboxinner .edd-submit.button:hover,.pagination a.inactive:hover,#sidemenu li a:hover,#sidemenu li a.open,.post-content .wowmetaposts span a:hover,ul.edd-taxonomy-widget li a:hover,.color{
	color:#e30613;
}

input[type=submit]:hover,.navbar-default .navbar-toggle:hover,.navbar-default .navbar-toggle:focus,#edd_checkout_form_wrap input[type="submit"].edd-submit,.pagination .current,.wowsortitems:before,.templatemyaccount .shoppingcartarea .edd_checkout a:hover,.contentdownloadphp .edd-add-to-cart.button.edd-submit,.contentdownloadphp .edd_go_to_checkout.button.edd-submit,.notfoundbadge:hover,.excerpttext .readmore,.widget_edd_product_details .edd_purchase_submit_wrapper a.edd-add-to-cart.edd-has-js,.widget_edd_product_details .edd_purchase_submit_wrapper a.edd-add-to-cart.edd-no-js ,.widget_edd_product_details .edd-add-to-cart.edd-submit,footer .widget_wysija_cont .wysija-submit,.actionbeforefooter {
	background-color:#e30613;
}

.navbar-nav>li>.dropdown-menu, .navbar-nav li.menu-item-has-children ul.sub-menu  {
	border-top:3px solid #e30613;
}

li.checkoutmenu {
	border:#e30613 1px solid;
}

footer.themefooter h3.widget-title:after{
	border-top-color:#e30613;
}